footer{
    max-width: 1280px;
    min-height: 455px;
    background-color: #EE4367;
    margin: 0 auto;
    padding-top: 36px;

    .logo{
        margin: 0 auto;
        width: 92px;
        height: 42px;
        background-image: url(../img/logo-white.png);
    }

    .contact{
        width: 260px;
        margin: 0 auto;
        padding-top: 45px;

        p{
            text-align: center;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 16px;
            color: white;
            margin-bottom: 3px;

        }
    }

    .newsletter{
        padding-top: 45px;
        margin: 0 auto;
        width: 696px;
        display: flex;

        .email{
            width: 529px;
            height: 60px;
            background-color: #F56B88;

            p{
                color: #FAB5C4;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 16px;
                padding: 20px;
            }
        }

        .subscribe{
            width:167px;
            height: 60px;
            background-color: white;

            p{
                color: #EE4367;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 16px;
                padding-top: 20px;
                padding-left: 40px;
            }
        }

    }

    .social{
        width: 156px;
        height: 32px;
        margin: 30px auto 0px auto;
        background-image: url(../img/social.JPG);
        background-size: cover;
        background-repeat: none;
    }

    .copyright{
        width: 250px;
        margin: 0 auto;
        padding-top: 45px;

        p{
            color: #FAB5C4;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 14px;
        }
    }
}