.quote{
    max-width: 789px;
    min-height: 300px;
    margin: 77px auto 0px auto;

    p{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        color: #FFD140;
        margin-bottom: 35px;
        line-height: 160%;
    }

    h2{
        font-family: "PT Serif Regular";
        font-size: 15px;
        color: #EE4367;
    }

    h3{
        font-family: "PT Serif Regular";
        font-size: 10px;
        color: #A8A8A8;
    }
}